{% extends "myapp/bootstrap.html" %}
{% block content %}

             <div class = "navbar navbar">
                <div class = "container">
                              <a href = "#" class = "navbar-brand top-bar navbar-static-top">App Reviews</a>


                            <ul class="nav nav-pills navbar-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li ><a href="#">Performance</a></li>
                            <li><a href="#">User Interface</a></li>
                            <li><a href="#">Request</a></li>
                            <li><a href="#">General</a></li>
                            <li><a href="#">Compatibility</a></li>
                            </ul>


                 </div>
             </div>
{% endblock %}